/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
}

.wrapper {width:1000px; height:300px; position:relative;}
.float {height:auto; margin:0; padding:0;}
.left {background-color:white;position: absolute;  width:400px;}
.right {float:right; width:100px;color:red}