

<div class="center">

    <div class="wrapper">
        <div class="float left">
             <span style="color:green;font-size: 100px"> {{correctAmt}} </span> correct VS

             <span style="color:red; font-size: 80px;">  {{wrongAmt}} </span> wrong


        </div>
        <div class="float right">
            <div ng-repeat="n in wrongAnswers track by $index">
                {{n}}<BR/>
            </div>
        </div>
    </div>
    <div style="font-size: 30px;color:red; align-content: center ">
        {{error}}
    </div>


    <div style="font-size: 50px;">
        {{ data.num1 }} {{data.operator}} {{ data.num2}} =
        <input id="result" type="text" ng-model="data.result" data-ng-maxlength="2" size="2"
               ng-pattern="/^\d+$/"
        data-ng-keypress="onFolderNumberKeyPress($event)"
        />

        &nbsp;&nbsp;&nbsp;
        <input type="button" ng-click="checkResult()" value="提交"/>

    </div>


</div>